@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
